---
import type { AstroComponentFactory } from 'astro/runtime/server/index.js';

interface Props {
  class?: string;
  itemComponent: AstroComponentFactory;
  items: Record<string, unknown>[];
}

const { class: className, itemComponent: Item, items, ...rest } = Astro.props;

const sliderOptions = {
  slidesPerView: 5,
  spaceBetween: 30,

  pagination: {
    bulletClass: 'example-swiper-slider__bullet',
    bulletActiveClass: 'example-swiper-slider__bullet--active',
    clickable: true,
  },

  scrollbar: {
    dragClass: 'example-swiper-slider__scrollbar-drag',
  },

  breakpoints: {
    1: {
      slidesPerView: 1,
      spaceBetween: 20,
    },
    577: {
      slidesPerView: 2,
      spaceBetween: 20,
    },
    1025: {
      slidesPerView: 3,
      spaceBetween: 20,
    },
    1441: {
      slidesPerView: 5,
      spaceBetween: 30,
    },
  },
};

const prevNavBtnTitle = 'To previous slide';
const nextNavBtnTitle = 'To next slide';
---

<div
  class:list={['example-swiper-slider', className]}
  data-js-slider={JSON.stringify(sliderOptions)}
  {...rest}
>
  <div class="example-swiper-slider__navigation">
    <button
      class="example-swiper-slider__btn"
      type="button"
      title={prevNavBtnTitle}
      aria-label={prevNavBtnTitle}
      data-js-slider-arrow-prev
    >
      &larr;
    </button>

    <div class="example-swiper-slider__bullets" data-js-slider-bullets></div>

    <button
      class="example-swiper-slider__btn"
      type="button"
      title={nextNavBtnTitle}
      aria-label={nextNavBtnTitle}
      data-js-slider-arrow-next
    >
      &rarr;
    </button>
  </div>

  <div class="example-swiper-slider__body swiper" data-js-slider-swiper>
    <ul
      class="example-swiper-slider__items swiper-wrapper"
      data-js-slider-slides
    >
      {
        items.map((item) => (
          <li class="swiper-slide example-swiper-slider__item">
            <Item {...item} />
          </li>
        ))
      }
    </ul>
  </div>

  <div class="example-swiper-slider__scrollbar" data-js-slider-scrollbar></div>
</div>

<style lang="scss" is:global>
  @use '@styles/base' as *;

  .example-swiper-slider {
    --slider-color-blue: #667eea;

    &__navigation {
      @include flex-center;
      column-gap: 16px;
      max-width: 300px;
      margin-inline: auto;
    }

    &__btn {
      @include reset-btn;

      @include flex-center;
      @include box(50px);
      flex-shrink: 0;

      font-size: 20px;
      color: #fff;

      background-color: var(--slider-color-blue);
      border: none;
      border-radius: 8px;

      &[disabled] {
        opacity: 0.6;
      }
    }

    &__bullets {
      display: flex;
      column-gap: 3px;
    }

    &__bullet {
      width: 16px;
      height: 5px;

      background-color: #bbb;

      border-radius: 100px;
      outline-offset: -2px;

      transition-duration: var(--transition-duration);

      &--active {
        width: 23px;

        background-color: var(--slider-color-blue);
      }
    }

    &__body {
      padding-block: 50px !important;
    }

    & &__item {
      display: flex;
      height: auto;
    }

    &__scrollbar {
      width: 250px;
      height: 6px;
      margin-inline: auto;

      background-color: #bbb;
      border-radius: 20px;
    }

    &__scrollbar-drag {
      height: 100%;

      background-color: var(--slider-color-blue);
      border-radius: inherit;
    }
  }
</style>
