---
interface Props {
  class?: string;
  name: string;
  id: string;
  title: string;
  description: string;
  isOpen?: boolean;
}

const {
  class: className,
  name,
  id,
  title,
  description,
  isOpen = false,
} = Astro.props;
---

<div class:list={['example-accordion', className]}>
  <details class="example-accordion__details" name={name} open={isOpen}>
    <summary class="example-accordion__summary">
      <h3 class="example-accordion__title h-22-20-18">
        <span role="term" aria-details={id}>
          {title}
        </span>
      </h3>
    </summary>
  </details>
  <div id={id} class="example-accordion__content" role="definition">
    <div class="example-accordion__content-inner">
      <div class="example-accordion__content-body">
        <p>
          {description}
        </p>
      </div>
    </div>
  </div>
</div>

<style lang="scss" is:global>
  @use '@styles/base' as *;

  .example-accordion {
    --example-accordion-color-blue: #667eea;
    @include var(--column-gap, 20px, 16px $laptop);

    position: relative;

    display: grid;
    grid-template-areas:
      'counter title'
      'counter content';
    grid-template-columns: auto 1fr;
    align-items: start;
    column-gap: var(--column-gap);
    @include padding(34px, 24px $laptop, 20px 10px $tablet-s);
    width: 100%;

    @include tablet-and-lower {
      grid-template-areas:
        'counter title'
        'content content';
      align-items: center;

      & &__details {
        margin-top: 0;
      }
    }

    &::before {
      content: counter(example-accordion-counter, decimal-leading-zero);

      grid-area: counter;

      @include flex-center;
      @include box(62px 67px, 50px 54px $laptop, 42px 46px $tablet-s);

      @include font-size(20px, 16px $laptop);
      font-weight: 600;
      color: var(--color-white);

      background: var(--example-accordion-color-blue);
      border-radius: 10px;
    }

    &__details {
      grid-area: title;

      margin-top: auto;
    }

    &__summary {
      list-style: none;

      &::-webkit-details-marker {
        display: none;
      }

      @include flex-between-center;
      column-gap: 1rem;

      color: #000;

      transition-duration: var(--transition-duration);
      cursor: pointer;
      user-select: none;

      @include hover {
        color: #333;
      }
    }

    &__title {
      color: inherit;
    }

    &__content {
      grid-area: content;

      padding-right: calc(2 * var(--column-gap));

      display: grid;
      grid-template-rows: 0fr;

      transition: var(--transition-duration) ease-in-out;
    }

    &__details[open] {
      .example-accordion__summary {
        &::before {
          rotate: none;
          visibility: hidden;
        }
      }

      & + .example-accordion__content {
        grid-template-rows: 1fr;
      }
    }

    &__content-inner {
      overflow: hidden;
    }

    &__content-body {
      @include margin-top(20px, 14px $laptop, 12px $tablet-s);
    }
  }
</style>
