---
import type { AstroComponent } from '@/core';
import TabsNavigation from './TabsNavigation.astro';
import { getTabIds } from './utils';

interface Props {
  class?: string;
  title: string;
  itemComponent: AstroComponent;
  items: {
    isActive?: boolean;
    title: string;
    componentData: Record<string, unknown>;
  }[];
  navElementId?: string;
  onlySm?: boolean;
}

const {
  class: className,
  title,
  itemComponent: Component,
  items,
  navElementId,
  onlySm = false,
  ...rest
} = Astro.props;
---

<div
  class:list={['tabs', onlySm && 'tabs--sm-only', className]}
  data-js-tabs={JSON.stringify({ navElementId })}
  {...rest}
>
  {
    !navElementId && (
      <TabsNavigation title={title} items={items} onlySm={onlySm} />
    )
  }

  <div class="tabs__panels">
    {
      items.map(({ isActive, title, componentData }) => {
        const { tabId, contentId } = getTabIds(title);

        return (
          <div
            class:list={['tabs__panel', isActive && 'is-active']}
            id={contentId}
            aria-labelledby={tabId}
            tabindex="0"
            role="tabpanel"
            data-js-tabs-panel
          >
            <Component {...componentData} />
          </div>
        );
      })
    }
  </div>
</div>

<style lang="scss" is:global>
  @use '@styles/base' as *;

  .tabs {
    --tabs-panels-gap: 0;

    &__panels {
      @include flex-column;
      row-gap: var(--tabs-panels-gap);
    }

    &__panel:not(.is-active) {
      display: none;
    }

    &--sm-only &__panel:not(.is-active) {
      @include higher-tablet-s {
        display: block;
      }
    }
  }
</style>
