---
import { getTabIds } from './utils';
import { slugify } from '../../js/utils/slugify';

interface Props {
  class?: string;
  id?: string;
  title: string;
  items: { isActive?: boolean; title: string }[];
  onlySm?: boolean;
}

const { class: className, title, items, onlySm = false, ...rest } = Astro.props;

const titleId = slugify(title) + '-title';
---

<div
  class:list={['tabs-navigation', onlySm && 'tabs-navigation--sm-only']}
  role="tablist"
  aria-labelledby={titleId}
  data-js-tabs-navigation
  {...rest}
>
  <h3 id={titleId} class="visually-hidden">{title}</h3>

  {
    items.map(({ isActive, title: tabTitle }) => {
      const { tabId, contentId } = getTabIds(tabTitle);

      return (
        <div
          class:list={['tabs-navigation__btn', isActive && 'is-active']}
          id={tabId}
          aria-controls={contentId}
          aria-selected={isActive ? 'true' : 'false'}
          tabindex={isActive ? '0' : '-1'}
          role="tab"
          data-js-tabs-btn
        >
          {tabTitle}
        </div>
      );
    })
  }
</div>

<style lang="scss" is:global>
  @use '@styles/base' as *;

  .tabs-navigation {
    @include var(--tabs-navigation-padding-v, 10px, 8px $laptop);

    position: relative;

    @include flex-center-v;
    padding: var(--tabs-navigation-padding-v);

    background: var(--black-06);
    border: 1px solid var(--black-15);
    @include border-radius-10-8;

    &--sm-only {
      @include higher-tablet-s {
        display: none;
      }
    }

    &::after {
      content: '';

      position: absolute;
      top: var(--tabs-navigation-padding-v);
      bottom: var(--tabs-navigation-padding-v);
      left: var(--tabs-navigation-active-btn-offset, 0);

      width: var(--tabs-navigation-active-btn-width, 0);

      background-color: var(--black-12);
      @include border-radius-10-6;

      transition-duration: 0.4s;
    }

    &__btn {
      @include reset-btn;

      @include padding(14px 24px, 12px 20px $laptop);
      flex-grow: 1;

      font-weight: 500;
      @include font-size(18px, 14px $laptop);
      line-height: 1.5;
      color: inherit;
      text-align: center;

      @include border-radius-10-6;

      cursor: pointer;
      user-select: none;

      z-index: 1;

      transition: var(--transition-duration);

      @include hover {
        color: var(--absolute-white);
      }

      &.is-active {
        color: var(--absolute-white);
        pointer-events: none;
      }
    }
  }
</style>
