---
import HTag from './HTag.astro';

interface Props {
  class?: string;
  title: string;
  headerLvl?: number;
  name: string;
  descr?: string;
  hideActionsSm?: boolean;
}

const {
  class: className,
  title,
  headerLvl = 2,
  name,
  descr,
  hideActionsSm,
  ...rest
} = Astro.props;

const titleId = name + '-id';
---

<section
  class:list={['section', className]}
  aria-labelledby={titleId}
  {...rest}
>
  <div class="section__inner container">
    <header class="section__header">
      <div class="section__info">
        <HTag id={titleId} class="section__title h-38-28-24" lvl={headerLvl}
          >{title}</HTag
        >

        {
          descr && (
            <div class="section__descr">
              <p>{descr}</p>
            </div>
          )
        }
      </div>

      <div class:list={['section__actions', hideActionsSm && 'sm-hide']}>
        <slot name="actions" />
      </div>
    </header>

    <div class="section__body">
      <slot />
    </div>
  </div>
</section>

<style lang="scss" is:global>
  @use '@styles/base' as *;

  .section {
    @include var(--section-row-gap, 80px, 60px $laptop, 40px $tablet-s);

    &:not(:has(&__descr)) {
      @include var(--section-row-gap, 50px, 40px $laptop, 20px $tablet-s);
    }

    padding-block: var(--section-padding-v);

    &__inner {
      @include flex-column;
      row-gap: var(--section-row-gap);
    }

    &__header {
      @include flex-between;
      align-items: center;
      column-gap: 1rem;

      &:has(.section__descr) {
        align-items: end;
      }

      @include tablet-s-and-lower {
        flex-direction: column;
        row-gap: 20px;

        &#{&} {
          align-items: start;
        }
      }
    }

    &__info {
      @include flex-column;
      @include row-gap(14px, 10px $laptop);
      @include max-width(1300px, 1130px $laptop);
    }
  }
</style>
