---
import Section from '../components/Section.astro';
import Slider from '../components/Slider/Slider.astro';
import GenreCard from '../components/GenreCard.astro';
import SliderNavigation from '../components/Slider/SliderNavigation.astro';
import genresData from '@/json/genres.json';

const sliderNavigationId = 'categories-navigation';
---

<Section
  name="categories"
  title="Explore our wide variety of categories"
  descr="Whether you're looking for a comedy to make you laugh, a drama to make you think, or a documentary to learn something new"
  hideActionsSm={true}
>
  <SliderNavigation slot="actions" id={sliderNavigationId} />

  <Slider
    itemComponent={GenreCard}
    items={genresData}
    navigationElementId={sliderNavigationId}
  />
</Section>
