---
import PlanCards from '../components/PlanCards.astro';
import Tabs from '../components/Tabs/Tabs.astro';
import Section from '../components/Section.astro';
import TabsNavigation from '../components/Tabs/TabsNavigation.astro';

const tabsNavId = 'plans-navigation';

const plansTitle = 'Plan period';

const plansData = [
  {
    isActive: true,
    title: 'Monthly',
    componentData: {
      items: [
        {
          title: 'Basic Plan',
          description:
            'Enjoy an extensive library of movies and shows, featuring a range of content, including recently released titles.',
          price: {
            value: 9.99,
            period: 'month',
          },
        },
        {
          title: 'Standard Plan',
          description:
            'Access to a wider selection of movies and shows, including most new releases and exclusive content',
          price: {
            value: 12.99,
            period: 'month',
          },
        },
        {
          title: 'Premium Plan',
          description:
            'Access to a widest selection of movies and shows, including all new releases and Offline Viewing',
          price: {
            value: 14.99,
            period: 'month',
          },
        },
      ],
    },
  },
  {
    title: 'Yearly',
    componentData: {
      items: [
        {
          title: 'Basic Plan',
          description:
            'Enjoy an extensive library of movies and shows, featuring a range of content, including recently released titles.',
          price: {
            value: 109.99,
            period: 'year',
          },
        },
        {
          title: 'Standard Plan',
          description:
            'Access to a wider selection of movies and shows, including most new releases and exclusive content',
          price: {
            value: 129.99,
            period: 'year',
          },
        },
        {
          title: 'Premium Plan',
          description:
            'Access to a widest selection of movies and shows, including all new releases and Offline Viewing',
          price: {
            value: 149.99,
            period: 'year',
          },
        },
      ],
    },
  },
];
---

<Section
  name="plans"
  title="Choose the plan that's right for you"
  descr="Join StreamVibe and select from our flexible subscription options tailored to suit your viewing preferences. Get ready for non-stop entertainment!"
>
  <TabsNavigation
    slot="actions"
    id={tabsNavId}
    title={plansTitle}
    items={plansData}
  />

  <Tabs
    title={plansTitle}
    itemComponent={PlanCards}
    items={plansData}
    navElementId={tabsNavId}
  />
</Section>
